.index_page {
  width: 100%;
  height: 100%;
}

.canvas_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list,
.function_list {
  position: fixed;
  right: .6rem;
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);

  li {
    width: fit-content;
    color: #fff;
    font-size: .4rem;
    cursor: pointer;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}

.list {
  right: .6rem;

}

.function_list {
  left: .6rem;
}